nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
    .sidebar-sticky.pt-3
        ul.nav.flex-column
            li.nav-item
                a.nav-link.active(href='#')
                    span(data-feather='home')
                    |               가입현황 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='shopping-cart')
                    |               정산
        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            span Membership
            a.d-flex.align-items-center.text-muted(href='#' aria-label='Add a new report')
                span(data-feather='plus-circle')
        ul.nav.flex-column.mb-2
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='users')
                    |               관리자 관리
