extends ./layout/base

block maincontents
	form.form-signin(action='/signin',method='POST')
		img.mb-4(src='/images/logo.png' alt='' width='144' height='72')
		h1.h3.mb-3.font-weight-normal Please sign in
		if message 
			h6.text-danger #{message}
		label.sr-only(for='inputEmail') Email address
		input#uid.form-control(name='uid' type='email' placeholder='Email address' required='' autofocus='')
		label.sr-only(for='inputPassword') Password
		input#upwd.form-control(name='upwd' type='password' placeholder='Password' required='')
		button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
		p.mt-5.mb-3.text-muted © 2017-2021
